        @import url("https://fonts.googleapis.com/css?family=Amatic+SC:400,700");
        body{
        	text-align: center;
        	align-items: center;
        	margin-bottom: 0px;
        	padding-bottom: 0px;
        	padding-left:0px;
        	margin-left: 0px;
        	padding-right: 0px;
        	margin-right: 0px;
        }
        .account{
			position: absolute;
			background: rgba(0,0,0,0);
			width: 55px;
		    height: 55px;
			border-radius: 50%;
			text-align: center;
			align-items: center;
			}
        .account:hover {
			background: rgba(0,0,0,0.05);
			}
		#accountbutton{
			width: 40px;
			height: 40px;
			padding: 0px 0px;
			margin: 7.5px 0px;
			border-radius: 50%;
			cursor: pointer;
			outline: none;
			position: relative;
			border: 1px solid #FF33D7;
			}
		#avaimg{
			position: relative;
			border-radius: 50%;
			background-size: 50%;
		}
		.accmenu{
			z-index: 3;
			font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
			position: absolute;
			top: 60px;
			font-size: 20px;
			border: 1px solid #FF33D7;
			text-align: center;
			align-items: center;
			padding-top: 0px;
			width: 320px;
			height: 340px;
			background: #FFFFFF ;
			border-radius: 5%;
		}
		#account_mail{
			color: #6E6E6E;
			font-size: 90%;
			margin-top: 5px;
		}
		#account_manage{
			height: calc(300px / 3);
			margin-top: 10px;
			border-top: 0.5px solid #FF33D7;
			border-bottom: 0.5px solid #FF33D7;
		}
		#button_manageaccount{
			margin-top: calc((300px / 3 - 32px) / 2);
			margin-left: calc((100% - 95% + 2px) / 2);
			padding: 5px;
			border-radius: 30px;
			background-color: white;
            color: black;
			border: 1px solid #FF33D7;
			width: 90%;
			height:25px;
		}
		#signout_button{
			margin-top: 30px;
			margin-left: calc((100% - 55% + 2px) / 2);
			padding: 5px;
			border-radius: 10px;
			background-color: white;
            color: black;
			border: 1px solid #FF33D7;
			width: 50%;
			height:auto;
		}
		#button_manageaccount:hover,#signout_button:hover{
			background: rgba(0,0,0,0.05);
		}
		    a{
			text-decoration: none;
			color: black;
		    }
			body{
				transition: opacity 700ms;
				background-image: url("./pink-sky-mountains-scenery-uhdpaper.com-4K-4.2331.jpg");
				background-size: cover;
				background-position: 0px -72px;
				background-attachment: fixed;
				background-position: fixed;
				background-repeat: no-repeat;
			}
			@media only screen and (max-width: 1500px) {
				body{
					background-position: 0px;
				}
			}				
			.button{
				width: 50px;
				height: 50px;
				padding: 0px 0px;
				margin: 24px;
				border-radius: 50%;
				background-color: white;
                color: black;
				border: 1px solid #FF33D7;
				-webkit-transition-duration: 0.2s; /* Safari */
                transition-duration: 0.2s ; 
				cursor: pointer;
				outline: none;
			    	
			}
			.button:hover {
				background: #D7D7D7;
			}
			.button:active {
            background-color: #58257b;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
            }
            .background{
			align-items: center;
			padding: 0px;
			margin: 0px;
			background: rgba(0,0,0,0);
			border-radius: 20%;
		    }
		 
		    a:hover .background{
			background: rgba(0,0,0,0.1);
		    }
			#clear{
				padding-top: 20px;
				padding-bottom: 0px;
				margin-bottom: 0px;
				clear: both;
				width: 100%;
			}
			.app_icon_list{
				margin-left: -5px;
			    text-align: center;
				text-decoration: none;
				color: white;
				font-size: 16px;
				display: inline-block;
		    }
			#iconapp{
				height: calc(105px * 3);
				align-items: center;
				position: relative;
				margin-left: 0px;
				margin-top: 1%;
			}
			@media only screen and (max-width: 1385px) and (min-width: 720px){
                .bgimg{
                	top: -75px;
                }
			}
			@media only screen and (max-width: 479px){
                #iconapp{
                	height: calc(105px * 4);
                }
			}
			#search{
				margin-left: 10%;
				width: 80%;
				z-index: 2;
				position: relative;
				text-align: center;
			}
			input[type="search"] {	
	        color: rgb(117,117,117);
			font-size: 20px;
			width: 300px;
			max-width: 500px;
            box-sizing: border-box;
            border: 1px solid #FF33D7;
            border-radius: 30px;
            outline:none;
            padding: 12px 14px;
			transition:0.5s ease-in-out;
            }
			input[type="search"]:focus{
			 color: #000000;
             }
             .footer{
             	position: fixed;
             	bottom: 5px;
             	left: 10px;
             }
             #date{
             	position: fixed;
             	bottom: 30px;
             	left: 10px;
             	color: white;
             }
             #cre{
             	color: white;
             }
			 #button {
			  margin-top:5px;
			  border: 0px;
              font-family: 'Montserrat', sans-serif;
              font-size: 14px;
              text-decoration: none;
              text-transform: uppercase;
              background: #0046d5;
              display: inline-block;
              padding: 15px 30px;
              border-radius: 40px;
              color: #fff;
              font-weight: 700;
              -webkit-box-shadow: 0px 4px 15px -5px #0046d5;
              box-shadow: 0px 4px 15px -5px #0046d5;
			  -webkit-transition-duration: 0.2s; /* Safari */
               transition-duration: 0.2s ; 
			  cursor: pointer;
			  outline: none;
            }
			#button:active {
            background-color: #58257b;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
            }
            #osu{
            	position: fixed;
            	width: 20%;	
            	right: 20px;
            	bottom: 20px;
            	transition: all 0.25s ease;
            }
            #osu_video{
            	opacity: 1;
            	width: 100%;
            	height: 100%;
            }
            #osu:hover{
                width: 25%;
            }
            #osu:hover #osu_video{
                opacity: 0.75;
            }
            #osu:hover .test{
                visibility: visible;
            }
            .osu_icon{
            	position: absolute;
            	left: -3%;
            	top: 2%;
            	z-index: 1;
            	width: 20%;
            	height: 20%;
            }
            #front_icon{
            	z-index: 2;
            }
            #back_icon{
            	visibility: hidden;
            	z-index: 1;
            }
            #front_icon:hover+#back_icon{
            	visibility: visible;
            }



 .bgimg{
 	margin-top: 0px;
 	margin-left: 35%;
 	text-align: center;
 	width: 30%;
 	margin-bottom: -2000px;
 	position: relative;
    align-items: center;
 }
 .item {
     background: pink;
     text-align: center;
     color: black;
     font-size: 20px;
     font-weight: bold;
     border-radius: 10%;
 }
.item .number{

    font-size: 20px;

}
.title {
    background: #4285F4;
    color: white;
    padding: 8px;
}
.col-md-2{
	display: inline-block;
	width: 100px;
}
.slogan {
	margin-top: 5px;	
    font-size: 20px;
    color: white;
    font-style: italic;
}
.small {
  font-family: 'Amatic SC', sans-serif;
}
.test {
  -webkit-animation: squiggly-anim 0.34s linear infinite;
          animation: squiggly-anim 0.34s linear infinite;
}
.test2 {
  -webkit-animation: squiggly-anim 0.34s linear infinite;
          animation: squiggly-anim 0.34s linear infinite;
}
.test3 {
  -webkit-animation: squiggly-anim 0.34s linear infinite;
          animation: squiggly-anim 0.34s linear infinite;
}

.test {
  visibility: hidden;
  position: absolute;
  top:40%;
  left:26%;
  color: white;
  font-size: calc(30vw / 3.5);
  display: inline-block;
  text-align: center;
  line-height: 0px	;
}
.test2 {	
  margin-top: -90px;
  margin-bottom: -20px;
  font-weight: bold;
  position: relative;
  color: white;
  font-size: 200px;
  display: inline-block;
  text-align: center;
}
.test3 {
  position: relative;
  color: white;
  font-size: 100px;
  text-align: center;
}
.small {
  font-size: 0.5em;
}
.small2 {
  font-size: 0.5em;
}
.small3 {
  font-size: 0.5em;
}
p {
  display: inline-block;
  margin: 0;
}
#g1{
	color: #4285F4;
}
#g2{
	color: #4285F4;
}
#o{
	color: #EA4335;
}
#o2{
	color: #FBBC05;
}
#l{
	color: #34A853;
}
#e{
	color: #EA4335;
}
@-webkit-keyframes squiggly-anim {
  0% {
    -webkit-filter: url("#squiggly-0");
            filter: url("#squiggly-0");
  }
  25% {
    -webkit-filter: url("#squiggly-1");
            filter: url("#squiggly-1");
  }
  50% {
    -webkit-filter: url("#squiggly-2");
            filter: url("#squiggly-2");
  }
  75% {
    -webkit-filter: url("#squiggly-3");
            filter: url("#squiggly-3");
  }
  100% {
    -webkit-filter: url("#squiggly-4");
            filter: url("#squiggly-4");
  }
}
@keyframes squiggly-anim {
  0% {
    -webkit-filter: url("#squiggly-0");
            filter: url("#squiggly-0");
  }
  25% {
    -webkit-filter: url("#squiggly-1");
            filter: url("#squiggly-1");
  }
  50% {
    -webkit-filter: url("#squiggly-2");
            filter: url("#squiggly-2");
  }
  75% {
    -webkit-filter: url("#squiggly-3");
            filter: url("#squiggly-3");
  }
  100% {
    -webkit-filter: url("#squiggly-4");
            filter: url("#squiggly-4");
  }
}

